body {
  background-color: dodgerblue;
}

a {
  padding: 50px;
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

.header-container {
  text-align: center;
  margin-top: 50px;
}

#home-ref {
  color: white;
  text-decoration: none;
}

#doc-ref {
  color: white;
  text-decoration: none;
}

#news-ref {
  color: white;
  text-decoration: none;
}

#about-ref {
  color: white;
  text-decoration: none;
}

#signup-ref {
  color: white;
  text-decoration: none;
}

#login-ref {
  color: white;
  text-decoration: none;
}